services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v0.8.8
    container_name: homepage
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - TZ=${TZ:-Asia/Hong_Kong}
